body {
    background: #F8FCFF;
    color: #25282B;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: calc(20 / 16);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ===================================================================== */

.header {
    min-height: 108px;
    padding: 30px 0;
    line-height: 150%;
}

.header__wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 15px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.logo {
    max-height: 48px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px 30px;
}

/* ===================================================================== */

.hero {
    color: #F8FCFF;
    height: 100%;
    line-height: 1.5;
    position: relative;
}

.hero__wrapper {
    padding: 120px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero__advantages {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero__advantages li {
    margin-bottom: 15px;
    padding: 6px 0;
    transition: 0.6s;
}

.hero__advantages li:last-child {
    margin-bottom: 0;
}

.hero__advantages li:hover {
    color: #1D6FB6;
}

.hero__advantages li:hover path {
    fill: #1D6FB6;
}

.hero__advantages svg {
    margin-right: 19px;
}

.hero__advantages path {
    transition: 0.6s;
}

.main__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.main__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #102E49CC;
}

.main__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.button {
    font-weight: 500;
    color: #1D6FB6;
    padding: 18px 30px;
    width: 288px;
    border-radius: 100px;
    background: #D0DCE7;
    text-align: center;
    transition: 0.6s;
}

.button:hover {
    background: #83ADD3;
    color: #F8FCFF;
}

/* ===================================================================== */

.main__wrapper {
    padding: 120px 0;
    display: flex;
    gap: 126px;
}

.main__body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__gallery {
    margin-bottom: 120px;
}

.aside {
    border: 2px solid #d0dce7;
    width: 100%;
    max-width: 282px;
}

.aside__list {
    padding: 30px;
}

.aside__list-item {
    padding-bottom: 20px;
}

.aside__list-item:last-child {
    padding-bottom: 0;
}

/* ===================================================================== */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
    width: 100%;
}

.gallery__img-big-left,
.gallery__img-big-right {
    font-size: 24px;
    line-height: 29px;
}

.gallery__img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}


.gallery__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    object-fit: cover;
    object-position: center center;
}

.gallery__img-big-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img-big-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #F8FCFF;
    background: #1D6FB6B3;
    transition: 0.6s;
    transform: translateY(100%);
}

.gallery__img:hover .gallery__popup {
    transform: translateY(0%);
}

/* ===================================================================== */

